
.header {
    background-image: url(background.png);
}
.container {
    /*background-color:dimgray;*/
    border: 80px;
    margin : 0px 50px 0px;
}
 img {
    box-shadow: 10px 10px 5px black;
    border : 5px solid darkblue;
}

body {
    background-color:gray;
}
#icon{
    font-weight: bold;
    color : white;
}
button{
    color: white;
    font-weight: bold;
    background-color: #4CAF50;
    cursor: pointer;
    border-radius: 4px;
    border:none;
    padding: 10px;
}
#search {
    background-color:darkslateblue;
    border: 2px solid darkslateblue;
    border-radius: 4px;
    width: 400px;
    height:50px;
}

#submit {
    background-color:darkslateblue;
    border: 2px solid darkslateblue;
    height:50px;
    border-radius: 0% 30% 30% 0%;
    margin: 0px;
    padding: 0 px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: red;
}


.dropbtn  {
    background-color: gray ;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content  {
    display: none;
    position: absolute;
    background-color: #f9f009;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

.dropbtn1  {
    background-color: gray ;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none ;
    cursor: pointer;
    border-bottom: 2px solid white;
    
}

.dropdown1 {
    position: relative;
    display: inline-block;
    
}

.dropdown-content1  {
    display: none;
    position: absolute;
    background-color: #f9f009;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover 
{background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown1:hover .dropbtn1 {
    background-color: white;
}